
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  body {
    height: 2000px;
    background: linear-gradient(-45deg, #e5ff00, #006426, #3e00a1, #c40000,#0bcdfd);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

  }
  @keyframes gradient {
    0% {
        background-position: 0% 25%;
    }
    25% {
      background-position: 25% 50%;
  }
    50% {
        background-position: 100% 75%;
    }
    75% {
      background-position: 75% 50%;
  }
    100% {
        background-position: 0% 50%;
    }
  }


  .navbar{
    background-color: rgb(24, 23, 23);
  }
  .navbar .brand {
      line-height: 70px;
      text-transform: uppercase;
      font-size: 3.2em;
      font-weight: 600;
      color: rgb(255, 255, 255);
      font-family: Londrina Outline;
    }
  
  .navbar .nav-item {
    padding: 10px 20px;
  }
  .navbar .nav-link {
    font-size: 20px;
    margin-left: 10px;
    color: white;
  }
  .fa-bars {
    color: #ffffff;
    font-size: 40px;
  }

  /*CSS for carousel*/
  section{
      position: relative;
  }
  .slide img{
      max-height: 500px;
      width: 100%;
      object-fit: cover;
      margin: 0 auto;
  }
  
  /* CSS for Contact Us, Location, Our Achievement page- Section  */
  .link-to-other-page{
      height: 200px;
      width: 100%;
      background: url(https://images.unsplash.com/photo-1531351770854-0cf9651fa8b9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1268&q=80)center center / cover no-repeat;
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  .link-to-contact-us-page, .link-to-location-page, .link-to-our-achievement-page{
      width: 25%;
      height: 80%;
      background: rgba(0, 0, 0, 0.7);
      margin: 20px 10px;
      position: relative;
      overflow: hidden;
      box-shadow: -10px 10px 8px rgba(95, 89, 94, 0.8);
  }
  .link-to-contact-us-page-hover-effect1, .link-to-location-page-hover-effect1, 
  .link-to-our-achievement-page-hover-effect1{
      width: 100%;
      height: 100%;
      background: rgba(224, 139, 42, 0.952);
      display: flex;
      justify-content: right;
      align-items: center;
  }
  .link-to-contact-us-page-hover-effect1 a, .link-to-location-page-hover-effect1 a,
  .link-to-our-achievement-page-hover-effect1 a {
      text-decoration: none;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      color: rgb(255, 255, 255);
  }
  .link-to-contact-us-page-hover-effect1 img, .link-to-location-page-hover-effect1 img,
  .link-to-our-achievement-page-hover-effect1 img {
      width: 20%;
      height: 20%;
      display: block;
      margin-top: 20px;
      margin-left: 145px;


  }
  .link-to-contact-us-page-hover-effect2, .link-to-location-page-hover-effect2,
  .link-to-our-achievement-page-hover-effect2{
      width: 100%;
      height: 100%;
      background: rgba(185, 24, 24, 0.952);
      display: flex;
      justify-content: right;
      align-items: center;
      position:absolute;
      bottom: -150px;
  } 
  .link-to-contact-us-page-hover-effect2 a, .link-to-location-page-hover-effect2 a,
  .link-to-our-achievement-page-hover-effect2 a {
      text-decoration: none;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      color: rgb(0, 0, 0);
  }
  .link-to-contact-us-page-hover-effect2 img, .link-to-location-page-hover-effect2 img,
  .link-to-our-achievement-page-hover-effect2 img {
      width: 20%;
      height: 20%;
      display: block;
      margin-top: 20px;
      margin-left: 145px;
  }
  
  .link-to-contact-us-page-hover-effect2:hover, .link-to-location-page-hover-effect2:hover,
  .link-to-our-achievement-page-hover-effect2:hover{
      cursor: pointer;
      animation: anim 0.4s linear forwards;
  }
  @keyframes anim{
      50%{bottom:-80px}
      100%{bottom: 0px;}
  }
  

@media all  and (max-width:420px){
    /* CSS for Contact Us, Location, Our Achievement page- Section  */
    .link-to-other-page{
        height: 800px;
        width: 100%;
        background: rgb(199, 238, 60);
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .link-to-contact-us-page, .link-to-location-page, .link-to-our-achievement-page{
        width: 90%;
        height: 30%;
        background: rgba(0, 0, 0, 0.7);
        margin: 20px 10px;
        position: relative;
        overflow: hidden;
        box-shadow: -5px 5px 5px rgba(95, 89, 94, 0.8);
    }
    .link-to-contact-us-page-hover-effect1, .link-to-location-page-hover-effect1, 
    .link-to-our-achievement-page-hover-effect1{
        width: 100%;
        height: 100%;
        background:rgba(224, 139, 42, 0.952);
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .link-to-contact-us-page-hover-effect1 a, .link-to-location-page-hover-effect1 a,
    .link-to-our-achievement-page-hover-effect1 a {
        text-decoration: none;
        text-align: center;
        font-family: 'Rubik',sans-serif;
        font-size: 22px;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
    .link-to-contact-us-page-hover-effect1 img, .link-to-location-page-hover-effect1 img,
    .link-to-our-achievement-page-hover-effect1 img {
        width: 20%;
        height: 20%;
        display: block;
        margin-top: 20px;
        margin-left: 125px;
    }
    .link-to-contact-us-page-hover-effect2, .link-to-location-page-hover-effect2,
    .link-to-our-achievement-page-hover-effect2{
        width: 100%;
        height: 100%;
        background:  rgba(250, 48, 85, 0.952);
        display: flex;
        justify-content: right;
        align-items: center;
        position:absolute;
        bottom: -216px;
    } 
    .link-to-contact-us-page-hover-effect2 a, .link-to-location-page-hover-effect2 a,
    .link-to-our-achievement-page-hover-effect2 a {
        text-decoration: none;
        text-align: center;
        font-family: 'Rubik',sans-serif;
        font-size: 22px;
        font-weight: bold;
        color: rgb(65, 53, 53);
    }
    .link-to-contact-us-page-hover-effect2 img, .link-to-location-page-hover-effect2 img,
    .link-to-our-achievement-page-hover-effect2 img {
        width: 20%;
        height: 20%;
        display: block;
        margin-top: 20px;
        margin-left: 125px;
    }
    
    .link-to-contact-us-page-hover-effect2:hover, .link-to-location-page-hover-effect2:hover,
    .link-to-our-achievement-page-hover-effect2:hover{
        cursor: pointer;
        animation: anim 0.4s linear forwards;
    }
    @keyframes anim{
        50%{bottom:-80px}
        100%{bottom: 0px;}
    }
 }

@media all  and (min-width:421px) and (max-width:1024px){
    /* CSS for Contact Us, Location, Our Achievement page- Section  */
    .link-to-other-page{
        height: 400px;
        width: 100%;
        background:rgb(199, 238, 60);
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .link-to-contact-us-page, .link-to-location-page, .link-to-our-achievement-page{
        width: 40%;
        height: 40%;
        background: rgba(0, 0, 0, 0.7);
        margin: 20px 10px;
        position: relative;
        overflow: hidden;
        box-shadow: -10px 10px 8px rgba(95, 89, 94, 0.8);
    }
    .link-to-contact-us-page-hover-effect1, .link-to-location-page-hover-effect1, 
    .link-to-our-achievement-page-hover-effect1{
        width: 100%;
        height: 100%;
        background: rgba(42, 224, 124, 0.952);
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .link-to-contact-us-page-hover-effect1 a, .link-to-location-page-hover-effect1 a,
    .link-to-our-achievement-page-hover-effect1 a {
        text-decoration: none;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
    .link-to-contact-us-page-hover-effect1 img, .link-to-location-page-hover-effect1 img,
    .link-to-our-achievement-page-hover-effect1 img {
        width: 20%;
        height: 20%;
        display: block;
        margin-top: 20px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .link-to-contact-us-page-hover-effect2, .link-to-location-page-hover-effect2,
    .link-to-our-achievement-page-hover-effect2{
        width: 100%;
        height: 100%;
        background: rgba(250, 48, 85, 0.952);
        display: flex;
        justify-content: right;
        align-items: center;
        position:absolute;
        bottom: -150px;
    } 
    .link-to-contact-us-page-hover-effect2 a, .link-to-location-page-hover-effect2 a,
    .link-to-our-achievement-page-hover-effect2 a {
        text-decoration: none;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }
    .link-to-contact-us-page-hover-effect2 img, .link-to-location-page-hover-effect2 img,
    .link-to-our-achievement-page-hover-effect2 img {
        width: 20%;
        height: 20%;
        display: block;
        margin-top: 20px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    
    .link-to-contact-us-page-hover-effect2:hover, .link-to-location-page-hover-effect2:hover,
    .link-to-our-achievement-page-hover-effect2:hover{
        cursor: pointer;
        animation: anim 0.4s linear forwards;
    }
    @keyframes anim{
        50%{bottom:-80px}
        100%{bottom: 0px;}
    }
}


/*CSS for blog cards*/
#blogsection{
    background-color:transparent;
    margin-top:10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#blogsection h4{
    padding-bottom: 20px;
    color: White;
    font-family: Raleway;
    font-weight: bolder;
    font-size: 2.8rem;
    text-align: center;
}

 #blogsection img{
     max-width: 100%;
     height: auto;
 }
  #content {
      text-align: center;
  }
  
  .arrow {
    width: 180px;
    border: none;
    top: 40%;
    left: 20%;
    margin: 0px;
    line-height: 34px;
    position: relative;
    color: #000000;
    border-radius: 10px;
    transition: all 0.4s;
  }
  .arrow.arrow {
    background-color: #ffffff;
  }
  .arrow.arrow:after, .arrow.arrow:before {
    border-width: 16.5px 0 17px 17px;
    transition: all 0.2s;
  }
  .arrow.arrow:before {
    border-color: #ffffff transparent;
    left: 10px;
  }
  .arrow.arrow:after {
    border-color: transparent #ffffff;
    right: 10px;
  }
  .arrow.arrow:hover {
    border-radius: 0px;
  }
  .arrow.arrow:hover:before {
    border-color: #ffffff transparent;
    left: -17px;
  }
  .arrow.arrow:hover:after {
    border-color: transparent #ffffff;
    right: -17px;
  }
  
  .arrow:before, .arrow:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0;
  }

 
/*CSS for projects part*/  
#projects{
    margin: 10px 5px 5px 0;
    background: url(https://images.unsplash.com/photo-1522781063645-d5e4fb3e19aa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80)center center / cover no-repeat;
    padding-bottom: 30px;
}

#projects h4{
   color: rgb(0, 0, 0);
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
   font-family: Raleway;
   font-weight: bolder;
   font-size: 2.8rem;
   text-align: center;
}


/*CSS for map*/
.map{
    background-color: transparent;
    margin-top: 10px;
    padding-bottom: 50px;
}
.map h3{
    padding-bottom: 20px;
    color:white;
    font-family: Raleway;
    font-weight: bolder;
    font-size: 2.8rem;
    text-align: center;
}
.map iframe{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 400px;
}